<% if @decision.errors.any? %>
 <div class="row">
   <div class="alert alert-warning col-md-8 col-md-offset-2 text-center">
     <h3><%= pluralize(@decision.errors.count, 'error') %> prohibited this decision from being saved:</h3>
     <% @decision.errors.full_messages.each do |error| %>
      <%= error %><br>
     <% end %>
    </div>
 </div>
<% end %>
<div class="row">
<%= form_for @decision do |f| %>
   <div class="panel panel-default">
     <div class="panel-heading">
       <h4 id="getting-started-btn" class="pointer">Getting Started</h4>
     </div>
     <div id="getting-started" class="panel-body">
       <div class="form-group">
         <%= f.label :dilemma %>
         <%= f.text_field :dilemma, class: "form-control" %>
       </div>

       <div class="form-group">
         <%= f.label :needed_by, "Decision needed by:" %>
         <%= f.date_field :needed_by, class: "form-control" %>
       </div>

       <div class="form-group", id="'dropdowns">
         <%= f.label :decision_importance %>
         <%= f.select :decision_importance, options_for_select(["Trivial", "Non Lethal", "Worthwhile", "Weighty",
                                                                "Life-Changing"]) %>
       </div>

       <div class="form-group", id="dropdowns'">
         <%= f.label :indecisiveness_level %>
         <%= f.select :indecisiveness_level, options_for_select(["Wishy", "Washy", "Neutral", "Partisan",
                                                                "Mind-Made-Up"]) %>
       </div>
     </div>
   </div>

   <div class="panel panel-default">
     <div class="panel-heading">
       <h4 id="pros-cons-btn" class="pointer">Pros and Cons</h4>
     </div>
     <div id="pros-cons" class="panel-body" style="display: none;">
       <div class="form-group">
       <%= f.label :best_case %>
       <%= f.text_area :best_case, class: "form-control" %><br>

       <%= f.label :pipe_dream, "Pipe Dream?" %>
       <%= f.check_box :pipe_dream %>
       </div>

       <div class="form-group">
       <%= f.label :worst_case %>
       <%= f.text_area :worst_case, class: "form-control" %><br>

       <%= f.label :apocalypse, "Apocalypse?" %>
       <%= f.check_box :apocalypse %>
       </div>

       <div class="form-group">
       <%= f.label :gut_feeling %> (seperated by commas)
       <%= f.text_area :gut_feeling, class: "form-control" %>
       </div>

       <div class="form-group">
       <%= f.label :pluses %> (seperated by commas)
       <%= f.text_area :pluses, class: "form-control" %>
       </div>

       <div class="form-group">
       <%= f.label :minuses %> (seperated by commas)
       <%= f.text_area :minuses, class: "form-control" %>
       </div>
     </div>
   </div>

   <div class="panel panel-default">
     <div class="panel-heading">
       <h4 id="next-steps-btn" class="pointer">Next Steps</h4>
     </div>
     <div id="next-steps" class="panel-body" style="display: none;">
       <div class="form-group">
       <%= f.label :intuitive_conclusion %>
       <%= f.text_field :intuitive_conclusion, class: "form-control" %>
       </div>

       <div class="form-group">
       <%= f.label :rational_conclusion %>
       <%= f.text_field :rational_conclusion, class: "form-control" %>
       </div>

       <div class="form-group">
       <%= f.label :final_decision %>
       <%= f.text_field :final_decision, class: "form-control" %>
       </div>

       <div class="form-group">
       <%= f.label :next_steps %>
       <%= f.text_field :next_steps, class: "form-control" %>
       </div>
     </div>
   </div>

   <div class="form-group">
     <%= f.label "Do you want this decision to be private?" %>
     <%= f.check_box :private %>
   </div>

   <%= f.submit class: "btn btn-default" %>

 <% end %>
 </div>
 <script>
   $('.form-group select').addClass('form-control');

   $('#next-steps-btn').click(function(){
      $('#next-steps').slideToggle();
   });

   $('#getting-started-btn').click(function(){
      $('#getting-started').slideToggle();
   });

   $('#pros-cons-btn').click(function(){
      $('#pros-cons').slideToggle();
   });

 </script>

