<!DOCTYPE html>
<html>
<head>
  <title>MakeADecision</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

  <body>

   <div class = "container">
  
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <div class='navbar-brand'>Make A Decision</div>
          </div>
          <%= link_to('Home', root_path, class: 'navbar-text  btn btn-default')  %>
          <%= link_to('About', welcome_about_path, class: 'navbar-text btn btn-default') %>
          <div class="navbar-text pull-right">
            <% if current_user %>
              You're signed in as: <%= link_to current_user.email, user_path(current_user) %> |
              <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
            <% else %>
              <%= link_to "Sign In", new_user_session_path %> / <%= link_to "Sign Up", new_user_registration_path %>
            <% end %>
          </div>
        </div>
      </nav>
            <% if notice %>
      <div class="alert alert-warning" role="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:notice] %>
      </div>
      <% end %>
      <%= yield %>
    </div>


  </body>

</html>
