<!DOCTYPE html>
<html>
<head>
  <title>MakeADecision</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

  <body>
    <div class="container">
      <nav class="navbar-default">
        <div class="container-fluid">
          <div class="navbar-text pull-right">
            <% if current_user %>
              You're signed in as: <%= current_user.email %> |
              <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
            <% else %>
              <%= link_to "Sign In", new_user_session_path %> / <%= link_to "Sign Up", new_user_registration_path %>
            <% end %>
          </div>
        </div>
      </nav>

      <% if notice %>
        <div class="alert alert-warning" role="alert">
          <%= flash[:notice] %>
        </div>
      <% end %>

      <h1 class="text-center">Make A Decision</h1><hr>
      <%= yield %>
    </div>
  </body>

</html>
